# turds
(.*/)?\#[^/]*\#$

*.orig
*.bak

.ruby-version

scratch
private
SlenderBackup*
Backup*

*.ipa

#versioning
InfoPlist.h

## Mac OS X
.DS_Store
__MACOSX

# Jetbrains
workspace.xml
find.xml
*.iml
.rakeTasks

# ruby
.irb-history

# bundler
.bundle
vendor
Gemfile.lock

# briar
.env

# calabash
rerun
reports
screenshots
screenshot*.png

# directory for staging for XTC runs
xtc-staging

# jenkins
ci-reports

# Xcode 4
*.xcodeproj/*.mode*
*.xcodeproj/*.perspective*
*.xcodeproj/*.pbxuser
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata

## Build products
build/*
*/build/*

## Automated backup nonsense
*.swp
*~
*~.nib
*(Autosaved).rtfd/
*.xcuserdatad
